<h1>Editing task</h1>

<%= render @task %>
<%= render "form", task: @task %>

<br>

<div class="d-flex">
  <%= link_to "Show this task", @task, class: "btn btn-primary me-2" %>
  <%= link_to "Back to tasks", tasks_path, class: "btn btn-secondary me-2" %>
</div>
