<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/"><%= t "activerecord.models.task" %>リスト</a>
    <div>
      <% if current_user %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= button_to "ログアウト", destroy_user_session_path, class: "nav-link", method: :delete %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>